.grid {
    background-image: linear-gradient(to right, transparent @column-gap-s, rgba(255, 0, 0, 0.1) 1px);
    background-size: calc(@column-gap-s + @column-width-s - @column-gap-s / 2);
    background-position-x: -@column-gap-s;
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
    display: none;
    pointer-events: none;

    @media @screen-only-s {
        margin: 0 auto;
    }

    @media @screen-gt-s {
        background-image: linear-gradient(to right, transparent @column-gap-m, rgba(255, 0, 0, 0.1) 1px);
        background-size: @column-gap-m + @column-width-m;
        background-position-x: -(@column-gap-m / 2);
        width: (@column-width-m + @column-gap-m) * @column-count-m;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    @media @screen-gt-m {
        background-image: linear-gradient(to right, transparent @column-gap-l, rgba(255, 0, 0, 0.1) 1px);
        background-size: @column-gap-l + @column-width-l;
        background-position-x: -(@column-gap-l / 2);
        width: (@column-width-l + @column-gap-l) * @column-count-l;
    }
}

.grid_visible {
    display: block;
}
